body{
    background-color: gray;
    height: 100%;
    width: 100%;
    margin: auto;
}

p.typeOne {
    font-size:300%;
    color: gold;
    text-align: center;
}

p.typeTow {
    font-size:250%;
    color: white;
}

p.typeThree {
    font-size:225%;
    color: white;
}

p.typeFour{
    font-size: 200%;
}

span.typeOne{
    font-size:275%;
    color: white;
    text-align: center;
}

span.typeTow{
    font-size:200%;
    color: cornflowerblue;
    float: left;
}

#flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    object-fit: cover;
}

.flex-item {
    border-radius: 10px;
    margin: 2% 10% 2% 10%;
    position: relative;
    border: 10px double gold;
    object-fit: cover;
    padding: 1% 1% 1% 1%;

}

.flex-item-footer {
    position: relative;
    background-color: gold;
    object-fit: cover;
    word-wrap: break-word;
}

#flex-container-image {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: cornflowerblue;
    width: 100%;
    top: 0;
    position: relative;
}

.background-image{
    background-image: url("Images/78ruLE9-full-black-wallpaper.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#flex-container-section1 {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-top: 100px ;
    position: relative;
}

#flex-container-section2 {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-bottom: 100px ;
    position: relative;
}

.text-back {
    background-color: cornflowerblue;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.text-margin {
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 0;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkblue;
    margin: 50px;
}

img.backArrow {
    border-radius: 50%;
    margin-top: 7.5px;
    margin-left: 7.5px;
    position: relative;
    height: 125px;
    width: 125px;
}

blue-full {
    padding: 10px 50px;
    background-color: cornflowerblue;
    position: relative;
    margin-top: 20px;
}

white-empty{
    padding: 10px 50px;
    background-color: white;
    position: relative;
    margin-top: 20px;
}

selector {
    height: 45px;
    width: 350px;
    font-weight: bold;
    font-size: 22px;
    background-color: gold;
    color: black;
    padding: 5px 15px;
    margin: 10px ;
    border-radius: 50px;
    text-align: center;
    position: relative;
    object-fit: cover;
}

selector a{
    text-decoration: none;
}

@media  screen and (max-width: 750px) {

    p.typeOne {
        font-size:150%;
    }

    p.typeTow {
        font-size:125%;
    }

    p.typeThree {
        font-size:115%;
    }

    p.typeFour{
        font-size: 105%;
    }

    span.typeOne{
        font-size:135%;
    }

    span.typeTow{
        font-size:105%;
    }

    .flex-item {
        border-radius: 5px;
        border: 5px double gold;
    }

    #flex-container-section2 {
        margin-bottom: 50px ;
    }
    #flex-container-section1 ,#flex-container-section2  {
            flex-direction: column;
            margin-top: 2%;
    }

    .text-back {
        border-radius: 20px;
    }

    .circle {
        width: 100px;
        height: 100px;
        margin: 20px;
    }

    img.backArrow {
        margin-top: 4px;
        margin-left: 4px;
        height: 85px;
        width: 85px;
    }

    blue-full {
        padding: 2.5px 12.5px;
        margin-top: 10px;
    }

    white-empty{
        padding: 2.5px 12.5px;
        margin-top: 10px;
    }

    selector {
        font-size: 18px;
        margin-bottom: 8px ;
        margin-top: 8px;
        height: 40px;
        width: 50%;
        position: static;
    }
}

@media  screen and (max-width: 300px) {

    p.typeOne {
        font-size:50%;
    }

    p.typeTow {
        font-size:40%;
    }

    p.typeThree {
        font-size:38%;
    }

    p.typeFour{
        font-size: 35%;
    }

    span.typeOne{
        font-size:45%;
    }

    span.typeTow{
        font-size:35%;
    }

    .circle {
        width: 35px;
        height: 35px;
        margin: 5px;
        background: cornflowerblue;
    }

    img.backArrow {
        margin-top: 1px;
        margin-left: 1px;
        pading: 0 0 0 0;
        height: 20px;
        width: 20px;
    }

    blue-full {
        padding: 0.2px 4.5px;
        margin-top: 10px;

    }

    white-empty{
        padding: 0.2px 4.5px;
        margin-top: 10px;
    }

    selector {
        font-size: 30%;
        margin: 0.5px 0.5px 0.5px 0.5px;
        height: 10px;
        width: 50%;
        position: static;
    }
    .flex-item{
        flex-direction: column;
    }

    #flex-container-image {
    height: 50px;
    }
    .text-back {
        border-radius: 0px;
    }
}