body{
    background-color: gray;
    height: 100%;
    width: 950px;
    align-items: center;
    justify-items: center;
    margin: auto;
}
.background-image{
    background-image: url("Images/78ruLE9-full-black-wallpaper.jpg");
    position: fixed;
    height: 100%;
    width: 950px;
}
#flex-container {
    display: flex;
    height: 3300px;
    flex-direction: column;
    align-items: stretch;
    position: relative;

}

.flex-item {
    border-radius: 10px;
    margin: 10px;
    height: 500px;
    position: relative;
}

#flex-container-image {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    top: 0;
    position: relative;
}

#flex-container-section1 {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-top: 100px ;
    position: relative;
}
#flex-container-section2 {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-bottom: 100px ;
    position: relative;
}
a {
    height: 45px;
    width: 350px;
    font-weight: bold;
    font-size: 22px;
    background-color: gold;
    color: black;
    padding: 5px 15px;
    margin: 10px ;
    border-radius: 50px;
    text-align: center;
    position: relative;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkblue;
    margin: 50px;
}
img {
    border-radius: 50%;
    margin-top: 7.5px;
    margin-left: 7.5px;
    position: relative;
}