body{
    background-color: gray;
    height: 100%;
    width: 100%;
    min-width: 950px;
    max-width: 2000px;
    margin: auto;
}
.background-image{
    background-image: url("Images/78ruLE9-full-black-wallpaper.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 950px;
    max-width: 2000px;
    background-size: cover;
}
#flex-container {
    display: flex;
    height: 10000px;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.flex-item {
    border-radius: 10px;
    margin: 2% 10% 2% 10%;
    height: 810px;
    position: relative;
    border: 10px double gold;

}
.flex-item-bigger {
    border-radius: 10px;
    margin: 2% 10% 2% 10%;
    height: 2200px;
    position: relative;
    border: 10px double gold;

}

#flex-container-image {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: cornflowerblue;
    width: 100%;
    top: 0;
    position: relative;
}

#flex-container-section1 {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-top: 100px ;
    position: relative;
}
#flex-container-section2 {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin-bottom: 100px ;
    position: relative;
}
selector {
    height: 45px;
    width: 350px;
    font-weight: bold;
    font-size: 22px;
    background-color: gold;
    color: black;
    padding: 5px 15px;
    margin: 10px ;
    border-radius: 50px;
    text-align: center;
    position: relative;
}
.text-back {
    background-color: cornflowerblue;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.text-back-big {
    background-color: cornflowerblue;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.text-margin {
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 0;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkblue;
    margin: 50px;
}
img {
    border-radius: 50%;
    margin-top: 7.5px;
    margin-left: 7.5px;
    position: relative;
}
blue-full {
    padding: 10px 50px;
    background-color: cornflowerblue;
    position: relative;
    margin-top: 20px;
}

white-empty{
     padding: 10px 50px;
    background-color: white;
    position: relative;
    margin-top: 20px;
}